@import '../../styles//variables.css';

.Controls {
  text-align: center;

  select {
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
  }

  button {
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--secondary-color);;
    border-radius: 1rem;
    background-color: var(--main-color);
    color: var(--secondary-color);;

    cursor: pointer;

    &:hover {
      border: 1px solid #F012BE;
      background-color: #39CCCC;
      color: #F012BE
    }
  }
}
